name: Day 20 CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Run DevOps script
      run: echo "Hello, Day 20! CI/CD practice running."

